{% extends 'base.html' %}
{% load static %}

{% block title %}
Clientes
{% endblock title %}

{% block content %}
<div class="row">

  <div class="col s3">
    <!-- Grey navigation panel -->
      {% include 'navigation.html' %}
  </div>

  <div class="col s9">
    <!-- Teal page content  -->
    <ul class="collection">
      {% for person in persons  %}
      <li class="collection-item avatar">
        {% if person.photo %}
        <img src="{{ person.photo.url }}" alt="" class="circle">
        {% endif %}
        <span class="title">{{ person.first_name }}</span>
        <p>{{ person.last_name }} <br>
          {{ person.age }} | <a href="{% url 'delete' person.id %}" class="waves-light btn">Excluir</a>
        </p>
        <a href="{% url 'update' person.id %}" class="secondary-content"><i class="material-icons">edit</i></a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
<div class="container">

</div>
{% endblock %}