{% extends 'base.html' %}
{% load static %}

{% block title %}
  Clientes
{% endblock title %}

{% block content %}

    <ul class="collection">
    {% for person in persons  %}
      <li class="collection-item avatar">
        <img src="/media/{{ person.photo}}" alt="" class="circle">
        <span class="title">{{ person.first_name }}</span>
        <p>{{ person.last_name }} <br>
          {{ person.age }} | <a href="{% url 'delete' person.id %}" class="waves-light btn">Excluir</a>
        </p>
        <a href="{% url 'update' person.id %}" class="secondary-content"><i class="material-icons">edit</i></a>
      </li>
      {% endfor %}
    </ul>
   
{% endblock %}