{% extends 'base.html' %}
{% load static %}

{% block title %}
  Clientes
{% endblock title %}

{% block navigation %}
    <div class="col s12 m4 l3"> 
        {% include 'navigation.html' %}
    </div>
    {% endblock %}

{% block content %}
<div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s5">
          <input placeholder="Nome" id="nome" name="nome" type="text" class="validate">
        </div>
        <div class="input-field col s5">
          <input placeholder="Sobrenome" id="sobrenome" name="sobrenome" type="text" class="validate">
        </div>
        <div class="input-field col s2">
          <button class="btn waves-effect blue" type="submit" name="action">
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <ul class="collection">
    {% for person in persons  %}
      <li class="collection-item avatar">
        <img src="{{ person.photo.url }}" alt="" class="circle">
        <span class="title">{{ person.first_name }}</span>
        <p>{{ person.last_name }} <br>
          {{ person.age }} | <a href="{% url 'delete' person.id %}" class="waves-light btn">Excluir</a>
        </p>
        <a href="{% url 'update' person.id %}" class="secondary-content"><i class="material-icons">edit</i></a>
      </li>
      {% endfor %}
    </ul>
   
    
</div>
  
   
{% endblock %}