{% extends 'base.html' %}
{% load static %}

{% block title %}
  New
{% endblock title %}

{% block navigation %}
    <div class="col s12 m4 l3"> 
        {% include 'navigation.html' %}
    </div>
    {% endblock %}

{% block content %}

    <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->

        <p class="flow-text">Tem certeza que desela excluir {{ person.first_name}}</p>
       <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn waves-effect red" type="submit" name="action">Excluir
            <i class="material-icons right">send</i>
        </button>
       </form> 
       
    </div>
{% endblock %}