{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Cliente CBV
{% endblock title %}

{% block content %}
<div class="row">

    <div class="col s3">
        <!-- Grey navigation panel -->
        {% include 'navigation.html' %}
    </div>

    <div class="col s9">
        <!-- Teal page content  -->
        <p class="flow-text center">Lista de Cliente CBV</p>
        <table>
            <thead>
                <tr>
                    <th>Firts_Name</th>
                    <th>Last_Name</th>
                    <th>Age</th>
                    <th>Salary</th>
                    <th>Bio</th>
                    <th>Photo</th>
                    <th>Doc</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for person in object_list %}
                <tr>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.salary }}</td>
                    <td>{{ person.bio }}</td>
                    <td><img src="{{ person.photo.url }}" alt="" class="circle" width="50px" height="50px"></td>
                    <td>{{ person.doc }}</td>
                    <td>
                        <a href="{% url 'person-delete' person.id %}" class="waves-effect red btn">Excluir</a> |
                        <a href="{% url 'person-update' person.id %}" class="waves-effect green btn">Atualizar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>

</div>


{% endblock %}